#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#contact-info {
	display: flex;
	flex-direction: row;
}

h1 {
	font-size: var(--font-size-masthead);
	font-weight: var(--font-size-masthead-weight);
}

h2 {
	font-family: var(--accent-font-family);
	font-size: var(--font-size-submasthead);
	font-weight: var(--font-size-submasthead-weight);
	color: var(--muted-color);
}
