#main {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#tabs {
	flex: 1;
}

#right-container {
	flex: 1;
	align-self: flex-start;
	text-align: left;
	overflow: hidden;
	max-width: 100%;
	margin-left: var(--spacing-2xl);
}

#right-container h2 {
	font-size: var(--font-size-h2);
	font-weight: var(--font-size-h2-weight);
	margin-top: 0;
}

#cube-container {
	text-align: center;
}

@media (max-width: 768px) {
	#main {
		flex-direction: column;
	}
	#right-container {
		margin-left: 0;
		margin-top: var(--spacing-lg);
	}
}
